/* 背景顏色, 字體放大至２倍 */
body {
    background-color: #78909C;
    font-size: 2.0em;
}

.form-control {
    font-size: 1.0em;
}

.btn {
    font-size: 1.0em;
    overflow: hidden;
    /* 當字數超過.btn時，用"..."取代 */
    text-overflow: ellipsis;
}

.form-group {
    margin-bottom: 3px;
}

select.form-control {
    padding: 0;
}

/* 變更預設字型 */
/*body, button, input, select, textarea, h1 ,h2, h3, h4, h5, h6
{
    font-family: Microsoft YaHei, Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}*/
